{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us..</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Personalization Is What We Do</p>
                </div>
            </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <h1>Our Journey:</h1>
                    <p align="justify">
                        Uscart is recently founded by Mr. Debabrata Sahu, Founder of Uscart for the people of india and achieving the ranks of the top ecommerce companies in India, thanks to our innovative platform that empowers individuals to embrace entrepreneurship in the online retail sector.We specializes in fostering connections between resellers and suppliers, facilitating the sale of an extensive range of products.
                    </p>
                    <h2>Our Goal:</h2>
                    <p align="justify">
                        Our goal is to increase sales by 10% within the next six months. This goal is specific, measurable, attainable, relevant, and time-bound, which makes it a SMART goal.
                    </p>
                    <p align="justify">
                        Continued emphasis on aspirational fashionability & Focused on the speed of delivering the latest fashion each week. Also Scaled up exciting exclusive brands.
                    </p>
                    <h3>Why Uscart:</h3>
                    <p align="justify">
                      Uscart is an ecommerce platform that offers a wide range of products including clothing, personal care products.Users can shop for products, compare prices and make purchases through the Uscart Website.
                    </p>
                    <p align="justify">
                      We focuses on cost savings by keeping store sizes smaller, minimizing store decor and fixtures, and sourcing fabrics and raw materials at lower costs. No celebrity collaborations:We doesn't collaborate with celebrities, which can be expensive and drive up the price of products.
                    </p>
                    <h4>----</h4>
                    <p align="justify">
                        Thank you for choosing Uscart, where shopping meets excellence.We are looking forward to being your preferred online hustle free shopping destination.
                    </p>
                    <p align="justify">
                        Happy Shopping!!!
                    </p>
                    <p align="justify">
                        The Team Uscart
                    </p>
                </div>
            </center>
        </div>
    </div>



{% endblock %}